@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    font-weight: bolder;
    font-size: x-large;
    margin-right: 1em;
}


/* details css */
.detailcontent {
    margin-left: 0;
    padding: 10px;
    background-color:white;
}

.sidecolumn {
    float: left;
    width: 250px;
    background-color:white;
    left: 0;
    overflow-x: hidden;
}

.maincolumn {
    float: right;
    position: fixed;
    width: 100%;
    margin-left: 350px;
    right: 0;
    background-color: white;
}

.attribute {
    background-color: white;
}

.specifics {
    font-size: small;
    color: black;
    background-color: white;
    margin-bottom: 10px;
}

.parametername{
    font-size: medium;
    color:blue;
    background-color: white;
}

.detailcontent img {
    width: calc(100% - 350px);
}
