/* details css */
.detailcontent {
    margin-left: 0;
    padding: 10px;
    background-color:white;
}

.sidecolumn {
    position: sticky;
    top: 0;
    left: 0;
    float: left;
    width: 250px;
    background-color:white;
    left: 0;
    overflow-x: hidden;
}

.maincolumn {
    float: right;
    position: fixed;
    width: 100%;
    margin-left: 375px;
    right: 0;
    background-color: white;
}

.attribute {
    background-color: white;
}

.specifics {
    font-size: medium;
    color: black;
    background-color: white;
    margin-bottom: 10px;
}

.parametername{
    font-size: large;
    color: var(--bold-accent-color);
    background-color: white;
}

.detailcontent img {
    width: calc(100% - 250px);
}
