@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --sidebar-width: 375px;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: bolder;
    font-size: x-large;
    margin-right: 1em;
}

/* layout of sections */
.container {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.main {
    margin-left: var(--sidebar-width);
    padding: 0;
}

/* sidebar and subcomponents */
sidebar {
    position: absolute;
    left: 0;
    width: var(--sidebar-width);
    z-index: 1;
    overflow-x: hidden;
    padding: 20px;
}



.header {
     position: sticky;
     top: 0;
     z-index: 2;
     padding-top: 1em;
     padding-bottom: 1em;
 }

label {
    font-size: small;
    word-wrap: normal;
}

.range-slider {
    width: var(--sidebar-width);
}

