@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --dominant-color: #0b2545;
    --light-dominant-color: #13315c;
    --lighter-dominant-color: #134074;
    --bold-accent-color: #f0a202;
    --italic-accent-color: #e1efe6;

    --text-color: #121212;
    --light-text-color: #fefefe;

    --sidebar-width: 375px;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: bolder;
    font-size: x-large;
    margin-right: 1em;
}

/* layout of sections */
.container {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.main {
    margin-left: var(--sidebar-width);
    padding: 0;
}

/* navigation */
nav {
    background-color: var(--dominant-color);
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 12px;
    z-index: 20;
    background-color: var(--dominant-color);
    color: var(--light-text-color);
}
.navbar li {
    display: inline;
}

/* sidebar and subcomponents */
.sidebar {
    position: absolute;
    left: 0;
    width: var(--sidebar-width);
    z-index: 1;
    overflow-x: hidden;
    padding: 20px;
}


.header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding-top: 1em;
    padding-bottom: 1em;
}

label {
    font-size: small;
    word-wrap: normal;
}

.range-slider {
    width: 325px;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: var(--light-dominant-color);
    color: var(--light-text-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: var(--lighter-dominant-color);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-bottom: 12px;
}