<!DOCTYPE html>
<meta charset="utf-8"/>

<head>
    <title>Details of One Specific Map</title>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/details.css" />
</head>

<body>
    <div class="header">
        <h1>Maryland Maps</h1>
    </div>

    <div class="detailcontent">
        <div class="sidecolumn">
            <div class="attribute">
                <div class="parametername">Location</div>
                <div class="specifics" id="location"></div>
            </div>
            <div class="attribute">
                <div class="parametername">Year</div>
                <div class="specifics" id="year"></div>
            </div>
            <div class="attribute">
                <div class="parametername">Call Number</div>
                <div class="specifics" id="call_number"></div>
            </div>
            <div class="attribute">
                <div class="parametername">Publisher/Printer</div>
                <div class="specifics" id="publisher"></div>
            </div>
            <div class="attribute">
                <div class="parametername">Type of the map</div>
                <div class="specifics" id="type"></div>
            </div>
        </div>
        <div class="maincolumn" id="specific_image">            
        </div>
    </div>

<script>
// var thisURL = document.URL;      
// var getval =thisURL.split('?')[1];    
// var title_val= getval.split("=")[1];  
let title_val="ba-057";

// let a = localStorage.getItem("data-scraper/"+title_val);
// alert(a);
// document.getElementById("image").appendChild(elem);

let urla = new URL("http://127.0.0.1:8080/details");
  urla.search = new URLSearchParams({"title":title_val}).toString();
  fetch(urla)
  .then(response => response.json())
  .then(fetchedData => {
    let data = fetchedData;
    let location_val = data.location;
    let year_val = data.year;
    let call_number_val = data.call;
    let publisher_val = data.publisher;
    let type_val = data.type;

    document.getElementById("location").innerHTML = "Hello world!"; //location_val;
    document.getElementById("year").innerHTML = year_val;
    document.getElementById("call_number").innerHTML = call_number_val;
    document.getElementById("publisher").innerHTML = publisher_val;
    document.getElementById("type").innerHTML = type_val;

    // var elem = document.createElement("img");
    // elem.setAttribute("src", data.image.src);
    // elem.setAttribute("height", "480");
    // elem.setAttribute("width", "520");
    // document.getElementById("image").appendChild(elem);

    let urla_image = new URL("http://127.0.0.1:8080/detailimage");
    urla_image.search = new URLSearchParams({"title":title_val}).toString();
    fetch(urla_image)
    .then(response => response.json())
    .then(fetchedData => {
        d3.select("#attributes")
            .selectAll("img")
            .data(fetchedData)
            .join('img')
            .classed('grid-image', true)
            .attr('src', (img) => img.src)
            .attr('height', (img) => "480")
            .on("click", d);

        // var elem = document.createElement("img");
        // elem.setAttribute("src", fetchedData.src);
        // elem.setAttribute("height", "480");
        // elem.setAttribute("width", "560");
        // document.getElementById("specific_image").appendChild(elem);
    }).catch(function(err) {alert(err)});
    
    // var imageNode = document.getElementById("specific_image");
    // imageNode.setAttribute
    // myNode.ATTRIBUTE_NODE.
    

  }).catch(function(err) {alert(err)});

</script>

</body>
