<!DOCTYPE html>
<html lang="en">
<head>
    <title>Maryland Maps Dashboard</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/imagegrid.css"/>
    <link rel="stylesheet" href="/static/css/modals.css"/>
    <link rel="stylesheet" href="/static/css/details.css"/>
    <link rel="stylesheet" href="/static/css/controls.css"/>
</head>
<body>
    <div class="container" id="app">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <h1>Maryland Maps</h1>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
            </form>
        </nav>
        <div class="main">
            <filters v-model:filter-selections="filterSelections"></filters>
            <image-grid v-model:image-selection="displaySelections.singleImage"
                        :filters="filterSelections"></image-grid>
            <image-view v-model:image="displaySelections.singleImage"></image-view>
        </div>
    </div>

    <script src="/static/js/main.js"></script>

</body>
</html>
